@use "sass:math";


$fontFamily: "Roboto";
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета
span {
	font-family: $fontFamily;
}
// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 375;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;

@import "blocks/null.scss";
@import "blocks/common";


// @import "blocks/*.scss"